<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>
        <%= title1 %>
    </title>
</head>

<body>
    <% include tabs.ejs  %>

        <div class="pro-blog">
            <button class="blog-yo" onclick="location.href='/shirt'">
            <img src="/images/5a52470a90dc293fd47be5bc8c8f58d1.jpeg" >
            
        </button>
            <button class="blog-yo">
                
            <img src="/images/shoes.jpg" >
            
        </button>
            <button class="blog-yo">
            <img src="/images/blow.jpg" >
           
        </button>
            <button class="blog-yo">
            <img src="/images/pants.jpg">
                      
        </button>
        </div>
</body>

</html>