<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shirt Pages</title>
</head>

<body>
    <% include tabs.ejs %>
        <div class="product-stock">
            <button>
            <img src="/images/5a52470a90dc293fd47be5bc8c8f58d1.jpeg">
            <p>xxxx</p>
        </button>
        </div>
</body>

</html>