a {
    color: #00B7FF;
}

iroot {
    --green: #27ae60;
    --lightblue: #3498db;
    --gray: #95a5a6;
    --red: #e74c3c;
    --orenge: #f1c40f;
    --white: white;
    --black: black;
    --blue: blue;
    --lightgray: #f1f1f1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    border: none;
}

.nav {
    margin: 0;
    padding: 0;
    margin-top: 3%;
}

.tabsmenus {
    text-align: center;
    padding: 2%;
    width: 100%;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 14px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #e0e0d1;
}

.tablink.active {
    background-color: #ccc;
}

.conten {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}


/* product-blog */

.problog {
    border-color: #00B7FF;
    padding: 20px;
    width: 100%;
    /* margin-left: 10px;
    margin-right: 10px; */
    text-align: center;
    float: left;
}

.blog-yo {
    background-color: #aaa;
    width: 20%;
    padding: 20px;
    height: 200px;
    margin: 1%;
    box-shadow: 10px 10px 5px grey;
}

button:hover {
    background-color: cornflowerblue;
}

img {
    width: 100%;
    height: 100%;
}